<!DOCTYPE HTML> 
 
<html lang="en"> 
 
<head> 
  <title>Springer Analytics</title>
  <link rel="stylesheet" href="/static/reset.css"/> 
  <link rel="stylesheet" href="/static/960.css"/>
  <link rel="stylesheet" type="text/css" href="/static/analytics.css"/>
  <link rel="stylesheet" type="text/css" href="/static/tabs.css"/>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="static/excanvas.js"></script><![endif]-->
  <script language="javascript" type="text/javascript" src="static/jquery.js"></script> 
  <script language="javascript" type="text/javascript" src="static/jquery.flot.js"></script> 
  <script language="javascript" type="text/javascript" src="static/jquery.flot.fillbetween.js"></script>
  <script language="javascript" type="text/javascript" src="static/jquery.flot.crosshair.js"></script>
  <script language="javascript" type="text/javascript" src="static/jquery.flot.resize.js"></script>
  <script language="javascript" type="text/javascript" src="static/jquery.flot.navigate.js"></script>
  <script language="javascript" type="text/javascript" src="static/jquery.tools.js"></script> 
  <script language="javascript" type="text/javascript" src="static/downloads_graph.js"></script>
  <script language="javascript" type="text/javascript" src="static/ui.js"></script>
</head>

<body>
  {% block body %}
  {% endblock %}
</body>

</html>
